@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.custom-shape-divider-bottom-1736492468 {

  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.custom-shape-divider-bottom-1736492468 svg {

  display: block;
  width: calc(100% + 1.3px);
  height: 50px;
}

.custom-shape-divider-bottom-1736492468 .shape-fill {
  fill: #969493;
}